body{}
.TicTacToeContainer{width: 320px;margin: 30px auto;background: #f5f5f5;padding: 20px;border-radius: 4px}
#dropdownDiv{padding: 10px}
#tableDiv{margin: 10px;border: 3px solid #aaa;border-radius: 4px;display: inline-block;position: relative;}
#tableDiv .Cover{position: absolute;left: 0;top:0;right: 0;bottom: 0;background: rgba(0,0,0,0.5);display: none;}
#tableDiv .MYXOAlert{position: absolute;background: #ffb400;padding: 15px;border: 5px solid #ff6000;border-radius: 100px;box-shadow: 0 0 50px #333;line-height: 40px;font-size: 200%;margin-top:-60px;top:50%;left:-20px;right: -20px;text-align: center;-webkit-transform: perspective(500px) rotateX(-90deg);-webkit-transition:all .5s ease;-webkit-transform-origin:top center;}
#tableDiv .MYXOAlert.Animated{-webkit-transform: perspective(500px) rotateX(0deg)}
#tableDiv .MYXOAlert a{display: block;color:#287eaf;text-decoration: none;margin: 0 100px}
#tableDiv .MYXOAlert a:hover{background: #287eaf;border-radius: 4px;color:#fff;}
#tableDiv table{border-collapse: collapse;}
#tableDiv table td{width: 96px;height: 96px;border: 3px solid #aaa;text-align: center;vertical-align: middle;border-right: none;cursor: crosshair;font-size: 250%;background: #f5f5f5;transition: all .2s ease;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-ms-transition: all .2s ease;}
#tableDiv table td:hover{background: #ffba00;color: #fff;}
#tableDiv table td.Clicked{background: #ddd !important;cursor: not-allowed;color:#000 !important;}
#tableDiv table td.Success{background: #31bc5b !important;cursor: not-allowed;color:#fff !important;text-shadow: -1px -1px 1px #11692c;font-size: 300%}
#tableDiv table tr td:first-child{border-left: none;}
#tableDiv table tr:first-child td{border-top: none;}
#tableDiv table tr:last-child td{border-bottom: none;}